html, body {
    width: 100%;
    height: 100%;
    background: white;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: helvetica, arial;
    margin: 0px;
}

section {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
   
}

nav {
 background: #CCCCCC; 
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(100px, 1fr));
  text-align: right;
  padding-right: 50px;
  font-size: 16px;
}

article {
    background: white;
    color: #444;
    padding: 1rem;
}

footer {
    background: rgba(17,81,113,0.9);
    padding: 1rem;
    font-size: 12px;
    text-align: left;
}

.logo{
  background: url(../img/logo.png) no-repeat;
  top: 12px;
  left: 14px;
  height: 100%;
  margin-left: 64px;
}

.title {
  background: #CCCCCC; 
  text-align: justify;
  font-size: 30px;
}

.grid-container>div {
  padding: 1rem;
}

.grid-container>div:hover {
  background: #CCCCCE;
}

.mostrar
{
  display: none;
}

#miCanvas
{
  position: absolute;
}

#porcentaje
{
  font-weight:bolder;
  color:#000;
  font-size:24px;
  position: absolute;
  z-index:10;
}

#wrapper
{
  display:none;
}